<form method="POST" action="/people">
<table>
<tr>
<td>First Name</td>
</tr>
<tr>
<td>
<input type="text" name="person[firstName]" />
</td>
</tr>
<tr>
<td>Last Name</td>
</tr>
<tr>
<td>
<input type="text" name="person[lastName]" />
</td>
</tr>
</table>
<input type="submit" value="Submit" />
</form>
